<div class="left-sidebar">
	<h2>Danh mục sản phẩm</h2>
	<vc:danh-muc-san-pham></vc:danh-muc-san-pham><!--danhmucsanpham-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Nhà xuất bản</h2>
		<vc:nha-xuat-ban></vc:nha-xuat-ban>
	</div><!--/brands_products-->

	<div class="price-range">
		<!--price-range-->
		<h2>Khoảng giá</h2>
		<div class="well text-center">
			<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600000" data-slider-step="5000" data-slider-value="[250000,450000]" id="sl2"><br />
			<b class="pull-left">0 VND</b> <b class="pull-right">600.000 VND</b>
		</div>
	</div><!--/price-range-->

	<div class="shipping text-center">
		<!--shipping-->
		<img src="images/home/shipping.jpg" alt="" />
	</div><!--/shipping-->

</div>